@media (max-width: 768px) {
    body {
        padding: 15px 10px 5px 8px;
    }

    h1 {
    font-size: 40px;
    }

.tempo-decorado {
    width: 90%;
    margin: 10px auto;
    }
}

@media (max-width: 380px) {
    body {
        padding: 10px auto 10px;
    }
    
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    body {
        padding: 20px auto 10px;
    }
    
    h1 {
        font-size: 30px;
    }
}



