body {
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
}

.pagina {
    padding: 40px;
    background-color: var(--neutral-white);
    width: 100vh;
    justify-content: center;
    border-radius: 15px;
}

.img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    margin-top: 15px;
    font-size: 43px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--neutral-dark-charcoal);
}

.prato {
    margin-top: 28px;
    font-size: 18px;
    color: var(--neutral-wenge-brown);
}

.tempo-decorado {
    background-color: var(--neutral-rose-white);
    margin: 25px;
    border-radius: 15px;
    height: 200px;
    padding: 15px;
}

.tempo-decorado li {
    color: var(--neutral-wenge-brown);
}

.tempo-decorado b {
    color: var(--neutral-dark-charcoal);
}

h3 {
    color: var(--primary-dark-raspberry);
    font-weight: 400;
    font-style: bold;
    font-size: 23px;
    font-family: "Protest Riot", sans-serif;      
}

.tempo-de-preparo {
    font-size: 18px;
    display: block;
    list-style: none;     
}

.tempo-de-preparo li:before {
    content: '\2022';      
    margin-left: -0.9rem;
    color: var(--primary-dark-raspberry);
    line-height: 40px;   
}

.ingredientes {
    display: block;
    width: 95%;
}

.itens {
    font-size: 30px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: bold;
    color: var(--primary-nutmeg);
}

.instrucoes-dos-ingredietes {
   padding: 10px;
    line-height: 35px;
    color: var(--neutral-wenge-brown);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border-bottom: solid 1px var(--neutral-light-grey);
    margin-left: 10px; 
}

.instrucoes {
    display: block;
    width: 95%;
}

.cuidados {
    font-size: 30px;
    font-family: "Protest Riot", sans-serif;
    color: var(--primary-nutmeg);
    font-weight: 400;
    font-style: bold;
}

.passo-a-passo {
    padding: 10px;
    margin-left: 10px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--neutral-wenge-brown);
    border-bottom: 1px solid var(--neutral-light-grey);
}

.passo-a-passo li::marker {
    font-size: 1.2em;
    color: var(--primary-nutmeg);
  }

.passo-a-passo b {
    color: var(--neutral-dark-charcoal);
}

.nutricao {
    display: block;
    width: 95%;
}

.nutrientes {
    font-size: 30px;
    font-family: "Protest Riot", sans-serif;
    color: var(--primary-nutmeg);
    font-weight: 400;
    font-style: bold;
}

.tabela {
    font-size: 18px;
    color: var(--neutral-wenge-brown);
    font-weight: 400;
    font-style: normal;
}

.nutricao table {
    width: 100%;
    margin-top: 20px;
}

.nutricao table tr td {
    padding: 15px 30px; 
    border-bottom: 1px solid var(--neutral-light-grey);
    font-size: 20px;
}

.nutricao table tr td.item{
    width: 300px;
    color: var(--neutral-wenge-brown);
}

.nutricao table tr td.info {
    color: var(--primary-nutmeg);
    font-weight: 700;
}