body {
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
}

.pagina {
    background-color: var(--neutral-white);
    width: 80vh;
    justify-content: center;
    margin: 70px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagem {
    justify-content: center;
    align-items: center;
    display: flex;
}

.imagem .img {
    width: 100%;
    height: 280px;
    display: flex;
    margin: 25px 20px;
    border-radius: 15px;
}

h1 {
    margin: 15px 29px;
    font-size: 43px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.prato {
    margin: 28px;
    font-size: 18px;
    color: var(--neutral-dark-charcoal);
}

.tempo-decorado {
    background-color: var(--neutral-rose-white);
    margin: 25px;
    border-radius: 15px;
    height: 200px;
}

h3 {
    color: var(--primary-dark-raspberry);
    font-weight: 400;
    font-style: bold;
    font-size: 23px;
    font-family: "Protest Riot", sans-serif;
    padding: 20px;        
}

.tempo-de-preparo {
    font-size: 18px;
    display: block;
    align-items: center;
    list-style: none;
    
}

.tempo-de-preparo li:before {
    content: '\2022';      
    margin-left: -0.9rem;
    color: var(--primary-dark-raspberry);
    line-height: 40px;
    
}